main {
  display: grid;
  /* grid-template-columns: 70%; */
  /* grid-template-rows: 22%; */
  grid-template-areas:
    "modal "
    "stories"
    "quotes ";
 justify-items: normal;
}

#modal-box { 
  grid-area: modal;
  border: solid black 2px;
  text-align: center;
}

#black-box {
  grid-area: quotes;
  border: solid black 2px;
  margin-bottom: 1rem;
}

#white-box {
  grid-area: stories;
  border: solid  2px;
  /* overflow: scroll; */
}

#offcanvasScrolling {
  overflow: scroll;
}

#machine {
  border: solid red 2px;
  border-radius: 2rem;
  max-width: 50rem;
  min-height: 25rem;
  padding: 1rem;
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.hidden {
  visibility: hidden;
}

#stories-container {
  list-style-type: none;
}

textarea{
  min-width: 70%;
}

.tab-content, #quote-container{
  padding-top: 1rem;
}