main {
  display: grid;
  /* grid-template-columns: 70%; */
  /* grid-template-rows: 22%; */
  grid-template-areas:
    "modal "
    "stories"
    "quotes ";
 justify-items: normal;
}

li {
  list-style-type: none;
}

.btn:focus {
  box-shadow: none !important;
}

#modal-box { 
  grid-area: modal;
  border: solid black 2px;
  text-align: center;
}

#black-box {
  grid-area: quotes;
  border: solid black 2px;
  margin-bottom: 1rem;
}

/* #machine {
  min-height: 456px !important;
} */

#white-box {
  grid-area: stories;
  border: solid  2px;
  /* overflow: scroll; */
}

#offcanvasScrolling {
  overflow: scroll;
}

#machine {
  border: solid red 2px;
  border-radius: 2rem;
  max-width: 50rem;
  min-height: 25rem;
  padding: 1rem;
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

#home-container {
  padding: 0 2rem;
}

.pseudo-quote-box {
  margin: 20px 4rem 0;
  padding: 20px 30px 5px;
  background-color: antiquewhite;
  border-radius: 1rem;
}

.profile-quote-box {
  /* margin: 20px 0rem 0; */
  /* padding: 20px 30px 5px; */
  /* background-color: antiquewhite; */
  border-radius: 1rem;
}

#quotes-container blockquote {
  margin-bottom: 1.5rem;
}

#quotes-container blockquote p:before {
  content: "\201C";
  font-size: 2rem;
  display: inline-block;
  vertical-align: -0.25em;
  line-height: 0.5;
}

#quotes-container blockquote p:after {
  content: "\201D";
  font-size: 2rem;
  display: inline-block;
  vertical-align: -0.25em;
  line-height: 0.5;
}

#form-container {
  margin: 0 4rem;
}

:is(#nav-authors, #nav-categories) a {
  text-decoration: none;
}

#authors-container,
#categories-container {
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  #home-container {
    padding: 0.5rem;
  }
  #authors-container,
  #categories-container {
    margin-left: 1rem;
  }
  .pseudo-quote-box {
    margin: 20px 2rem 0;
  }
  #form-container {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 460px) {
  #authors-container,
  #categories-container {
    margin-left: 0.5rem;
  }
  .pseudo-quote-box {
    margin: 20px 1rem 0;
    padding: 15px 25px 1px;
  }
  #form-container {
    margin: 0rem;
  }
}

#home-container,
#nav-authors,
#nav-categories,
#nav-search-author {
  margin-top: 8px;
}

#story-compose {
  margin-top: 20px;
}

#search-author-container #get-quote:is(:active, :focus) {
  background-color: rgb(108, 117, 125);
}

.hidden {
  visibility: hidden;
}

#stories-container {
  list-style-type: none;
  padding-top: 10px;
}

.stories-navigation {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top:0;
}

.profile-story > div {
  border-radius: 1rem;
  border: solid 2px var(--bs-gray);
}

.profile-story blockquote {
  font-size: 1rem;
}

.profile-story :is(.description, .edit-description) {
  margin: 10px 4rem 0;
  border-radius: 1rem;
}

.profile-story .description {
  padding: 15px 20px 10px;
  background-color: antiquewhite;
  border-radius: 1rem;
}

.profile-story .edit-description textarea {
  height: unset;
}

.profile-story blockquote p:before {
  content: "\201C";
  font-size: 1rem;
  display: inline-block;
  vertical-align: -0.15em;
  line-height: 0.5;
}

.profile-story blockquote p:after {
  content: "\201D";
  font-size: 1rem;
  display: inline-block;
  vertical-align: -0.15em;
  line-height: 0.5;
}

textarea{
  min-width: 70%;
}

.tab-content, #quote-container{
  padding-top: 1rem;
}